/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 767px) and (max-width: 991px) {
  .brands .col-md-2 img{
    width: 110%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  *{
    max-width: 100%!important;
  }
  .card{
    padding: 0;
    margin: 0;
    width: 100%!important;
  }
  .work_process__item{
    margin: 0 auto;
  }
  #header_person_about{
    display: none;
  }
  #header_leaf, #LeafLeft, #LeafRight{
    display: none
  }
  #header_text, #header_text__about{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 135px;
  }
  #header_text__about{
    margin-left: 2px;
    font-size: 70px;
  }

  .brands .col-md-2 img{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 75%!important;
  }
  .contact-form{
    width: 100%;
    max-width: 100%;
  }
  .contact-form{
    max-width: 100%!important;
    margin: 0 auto!important;
    left: 0%!important;
    padding-bottom: 30px;
  }
  .contact-form .row {
    max-width: 100%;
    min-width: 100%!important;
    padding: 0;
    margin: 0;
  }
  .contact-form input, textarea {
    font-size: 30px!important;
  }
  .works .col-md-4{
    padding: 0;
    margin: 0 auto;
    margin-left: 30px;
  }
  .nav-link{
    font-size: 31px;
    margin-top: 20px;
  }
  .clients{
    margin: 0;
  }
  .work_process{
    margin-top: 40px;
  }
  .team .col-md-4 img{
    max-width: 100%!important;
    margin: 0 auto;
  }
  .team .col-md-4{
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .footer{
    margin-top: 200px;
  }
  #header_text_person{
    text-align: center;
    padding: 10px;
    margin: 0;
    margin-top: -20px;
    width: 100%;
  }
  div.col-md-2{
    margin: 0 auto;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}
